/*
#F7FBFC - lightest
#D8E4F4
#A0D0EC
#6E9BCC - darkest
*/

/* Setting up basic template for page (header & footer) */
* {
  margin: 0;
  padding: 0;
}


header, footer {
  background: linear-gradient(90deg,#D8E4F4,#A0D0EC);
  display: flex;
  justify-content: center;
}

main {
  background-color:#F7FBFC;
}

header, main, footer {
  margin: 1em;
  padding: 2em;
  border-radius: 15px;
}

header ul, footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header ul li, footer ul li {
  display: inline-block;
  padding: 20px; 
}

header ul li a, footer ul li a{
  color: black;
  padding: 15px;
}

a:hover {
  text-decoration: none;
}


