/*
#F7FBFC - lightest
#D8E4F4
#A0D0EC
#6E9BCC - darkest
*/

/* Setting up basic template for page (header & footer) */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

header {
  border-radius: 0 0 15px 15px;
}

footer {
  border-radius: 15px 15px 0 0;
}

header, footer {
  background: linear-gradient(90deg,#D8E4F4,#A0D0EC);
  display: flex;
  justify-content: center;
}

main {
  background-color:#F7FBFC;
  border-radius: 15px;
}

header img {
  width: 10%;
  margin-right: 30%;
}

header, main, footer {
  margin-bottom: 1em;
  padding: 2em;
}

nav {
  width: 40%;
  float: right;
}

nav ul, footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li, footer ul li {
  display: inline-block;
  padding: 20px; 
}

nav ul li a, footer ul li a{
  color: black;
  padding: 15px;
}

a:hover {
  text-decoration: none;
}


